
.comment_form .stars {
  background: url("stars.png") repeat-x 0 0;
  width: 222px;
  margin: 0 auto;
}

.comment_form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.comment_form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
.comment_form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
.comment_form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
.comment_form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
.comment_form .stars label {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
.comment_form .stars label:hover ~ span {
  background-position: 0 -44px;
}
.comment_form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
.comment_form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
.comment_form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
.comment_form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
.comment_form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
.comment_form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 44px;
  background: url("stars.png") repeat-x 0 -35px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}

@media only screen and (min-width:1024px){.comment_form .stars{background-size:35px; width:175px; height:35px}  .comment_form .stars label{width:35px; height:35px}  .comment_form .stars span{height:35px !important; background-size:35px !important}		.comment_form .stars label:hover ~ span {	  background-position: 0 -35px !important;	}
}


@media only screen and (max-width:1024px){		.comment_form .stars span{height:30px !important; background-size:30px !important}		.comment_form .stars label:hover ~ span {	  background-position: 0 -30px !important;	}
}
@media only screen and (max-width:479px){.comment_form .stars span{height:22px !important; background-size:22px !important}		.comment_form .stars label:hover ~ span {	  background-position: 0 -22px !important;	}
}
